.nav{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #490209;
    width: 100vw;
    position: fixed;
    top: -5px;
    z-index: 100;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
/* Alteramos las cajas*/
body{
    padding-top: 50px;
    background-color: #aa0414;
}
.nav__li{
    display: inline-block;
    padding: 1em;
    color: white;
    margin-right: 5.5em;
}

/* Alteramos en texto de a*/
.nav__li a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}
.nav__li:hover > a{
    color: rgb(192, 115, 20);
}
/* Alteramos los iconos*/
.nav__li i{
    width: 2em;
    box-sizing: border-box;
    text-align: center;
    margin-right: 0.1em;
}
.nav__li:hover {
    color: rgb(192, 115, 20);
}

.space{
    position: relative;
    margin-top: 25px;
    display: block;
    
    height: 150vh;
}

.footer{
    background-color: #490209;
    font-family: 'PT Sans Narrow', sans-serif;
}

.footer__li{
    display: inline-block;
    padding: 1em;
    color: white;
    margin-right: 5em;
}
.footer__li:hover {
    color: rgb(192, 115, 20);
}
.footer__li a{
    color: white;
    text-decoration: none;
    font-size: 1em;
}
.footer__li:hover >a{
    color: rgb(192, 115, 20);
}
.nav__li i{
    box-sizing: border-box;
    text-align: center;
    margin-right: 0.3em;
}
/*div de*/
.space__bienvenida h1{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 6em;
    text-align: center;
    color: white;
    margin: 0;
}
.space__bienvenida h2{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: white;
}
.canchita{
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    width: 20vw;
    height: 60vh;
    margin: 1.5em;
    padding-top: 2em;
    outline: 2px solid #490209;
    text-align: center;
    display: inline-block;
    border-radius: 5%;
}
.canchita h3{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #490209;
    margin-bottom: 1em;
}
.canchita img{
    width: 12em;
}
.canchita__buttom{
    background: #490209;
    color: white;
    width: 5em;
}
.canchita__buttom:hover{
    background: rgb(192, 115, 20);
    
}